.home_svg1{
position: absolute;
right: 0%;
top: 0%;
width: 45%;
z-index: -1;
}
.sdi_navbar .home_svg1 {
    position: absolute;
    right: 0px;
    width: 45%;
    z-index: -1;
}
.sdi_home_ div{
    margin-top: 300px;
    margin-bottom: 30px;
    font-size: 150px;
}

.sdi_home_{
    margin-left: 180px;
    text-align: left;
    font-weight: 400;
    h1{
    font-weight: 400;

    }
}

.sdi_image{
    width:50%;
    position: absolute;
    right: 0px;
    top: 250px;
}

@media (max-width:768px){
    .sdi_home_ div{
        font-size: 96px;
    }
    .sdi_home_{
        position: absolute;
        top:12%;
        margin: 0;
        left: 5%;
        h1{
            position: relative;
            left: 10%;
        }
        button{
            position: relative;
            left: 10%;
        }
    }
    .sdi_image{
        top:30%;
        left: 70%;
        width: 60%;
    }
    .home_svg1{
        top: -20%;
        height: 90%;
    }
}