@import './components/navbar';
@import './components/home';
@import './components/about';
@import './components/contact';

body,html{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}