@import './components/navbar';
@import './components/home';
@import './components/about';
@import './components/contact';
@import './components/footer';

@import './components/SubjectHolder';

body,html,h1,#root{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
	min-height: 100%;
}
body{
	width: 100%;
	overflow-x: hidden;
	height: 200vh;
	overflow-y: auto;

}